*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.sedan-section-container{
    position: relative;
    height: 90vh;
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sedan-icon-container{
    width: 110px;
    height: 70px;
    background-image: url("../images/icon-sedans.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    /* margin-top: -30px; */
}

.sedan-title-container{
    position: relative;
    width: 50%;
    font-size: 3.5rem;
    font-family: 'Big Shoulders Display', cursive;
    margin-left: -70px;
    /* margin-top: -30px; */
    color: hsl(0, 0%, 95%);
}

.sedan-main-text-container{

    position: relative;
    width: 60%;
    font-size: 1.5rem;
    margin-left: -30px;
    /* margin-top: -40px; */
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 2.5rem;
}

.sedan-button-container button{
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: -115px;
    /* margin-top: -30px; */
    color:  hsl(31, 77%, 52%);
    line-height: 2.5rem;
    font-weight: bold;
    border: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    cursor: pointer;
}

/* SUVS */


.suv-section-container{
    position: relative;
    height: 90vh;
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.suv-icon-container{
    width: 110px;
    height: 70px;
    background-image: url("../images/icon-suvs.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    /* margin-top: -30px; */
}

.suv-title-container{
    position: relative;
    width: 50%;
    font-size: 3.5rem;
    font-family: 'Big Shoulders Display', cursive;
    margin-left: -70px;
    /* margin-top: -30px; */
    color: hsl(0, 0%, 95%);
}

.suv-main-text-container{

    position: relative;
    width: 60%;
    font-size: 1.5rem;
    margin-left: -30px;
    /* margin-top: -40px; */
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 2.5rem;
}

.suv-button-container button{
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: -115px;
    /* margin-top: -30px; */
    color:  hsl(184, 100%, 22%);
    line-height: 2.5rem;
    font-weight: bold;
    border: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    cursor: pointer;
}


/* LUXURY */

.luxury-section-container{
    position: relative;
    height: 90vh;
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.luxury-icon-container{
    width: 110px;
    height: 70px;
    background-image: url("../images/icon-luxury.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    /* margin-top: -30px; */
}

.luxury-title-container{
    position: relative;
    width: 50%;
    font-size: 3.5rem;
    font-family: 'Big Shoulders Display', cursive;
    margin-left: -70px;
    /* margin-top: -30px; */
    color: hsl(0, 0%, 95%);
}

.luxury-main-text-container{

    position: relative;
    width: 60%;
    font-size: 1.5rem;
    margin-left: -30px;
    /* margin-top: -40px; */
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 2.5rem;
}

.luxury-button-container button{
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: -115px;
    /* margin-top: -30px; */
    color:  hsl(179, 100%, 13%);
    line-height: 2.5rem;
    font-weight: bold;
    border: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    cursor: pointer;
}

.attribution{
    color: black;
    text-align: center;
}

.attribution a{
    text-decoration: none;
    color: rgb(64, 228, 160);
}